<div class="card">
  <div class="card-content">
    <div class="card-header">
      <h5 class="card-title">Orders</h5>
    </div>
    <div class="card-body">
      @if(orders.length > 0){
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Store</th>
            <th>Name</th>
            <th>Date</th>
            <th>Shipping Address</th>
            <th>Delivery</th>
          </tr>
        </thead>
        <tbody>
          @for(order of orders; track $index){
          <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.store && order.store.name ? order.store.name : 'No Store' }}</td>
            <td>{{ order.name }}</td>
            <td>{{ order.date }}</td>
            <td>{{ order.shippingAddress }}</td>
            <td>{{ order.idDelivery }}</td>
            <td>
              <button
                class="btn btn-primary btn-sm"
                (click)="onRemoveOrder(order.id)"
              >
                Details
              </button>
            </td>

            <td>
              <button
                class="btn btn-warning btn-sm"
                (click)="onSelectedOrder(order)"
              >
                Modify
              </button>
            </td>

            <td>
              <button
                class="btn btn-danger btn-sm"
                (click)="onRemoveOrder(order.id)"
              >
                Delete
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
      }@else{
      <div class="alert alert-warning">No existen productos</div>
      }
    </div>
  </div>
</div>
